{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "core": "core",
          "components": "components",
          "store": "store",
          "utils": "utils"
        }
      }
    ]
  ]
}
