{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "./app"
        ],
        "alias": {
          "utils": "utils",
          "store": "store"
        }
      }
    ]
  ]
}
